<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jwtapi.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.example.jwtapi.model.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="name" column="name" />
        <result property="googleId" column="google_id" />
        <result property="profileImage" column="profile_image" />
        <result property="authProvider" column="auth_provider" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>
    
    <insert id="insertUser" parameterType="com.example.jwtapi.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email, name, google_id, profile_image, auth_provider, created_at, updated_at)
        VALUES (#{username}, #{password}, #{email}, #{name}, #{googleId}, #{profileImage}, #{authProvider}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    
    <select id="findByUsername" parameterType="string" resultMap="userResultMap">
        SELECT * FROM users WHERE username = #{username}
    </select>
    
    <select id="findById" parameterType="long" resultMap="userResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>
    
    <select id="findByGoogleId" parameterType="string" resultMap="userResultMap">
        SELECT * FROM users WHERE google_id = #{googleId}
    </select>
    
    <select id="findByEmail" parameterType="string" resultMap="userResultMap">
        SELECT * FROM users WHERE email = #{email}
    </select>
    
    <update id="updateUser" parameterType="com.example.jwtapi.model.User">
        UPDATE users
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="name != null">name = #{name},</if>
            <if test="googleId != null">google_id = #{googleId},</if>
            <if test="profileImage != null">profile_image = #{profileImage},</if>
            <if test="authProvider != null">auth_provider = #{authProvider},</if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteUser" parameterType="long">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper> 